<!-- 顶部导航 -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top shadow mb-3">
<!-- 商标 -->
<a class="navbar-brand" href="/">
<img src="/assets/img/favicon.png" width="30" height="30" class="d-inline-block align-top border rounded mr-2" alt="">
iTutorial
</a>
{% if thisDMap %}<!-- 折叠按钮 -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<!-- 折叠列表 -->
<div class="collapse navbar-collapse" id="navbar">
<ul class="navbar-nav d-md-none">
{% for items in thisDMap %}<span class="navbar-text h4 mb-0">{{items.title}}</span>
{% for item in items.pages %}<li class="nav-item{% if item.path == thisPage %} active{% endif %}"><a class="nav-link" href="{{item.path}}">{{item.name}}</a></li>{% endfor %}{% endfor %}
</ul>
</div>
{% endif %}</nav>
